/.phpunit.cache
/node_modules
/public/build
/public/hot

/storage/app/public/app-icons/*.key
/storage/app/public/avatar/*.key
/storage/app/public/company/*.key
/storage/app/public/company_logos/*.key
/storage/app/public/setting_logos/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
